{% load static from staticfiles %}

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title> Minerals 'El dorado'</title>
    <meta name='description' content=''>
    <meta name='author' content=''>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='{% static 'css/global.css' %}'>
    {% block extrahead %} {% endblock%}
  </head>
  <body>
    <div class='bounds'>
    <!-- Title of the site  -->
      <div class='grid-100'>
        <a href='{% url 'index' %}'>
          <svg class='logo' viewBox='0 0 127.6 84.8' preserveAspectRation='xMinYMin meet'>
          <polygon points='42.7,84.8 49.6,79.4 40,62.5 51.2,43.5 51.2,43.5 25,0 0,55.6 '/>
          <polygon class='logo--middle' points='52.9,79.5 52.9,79.5 84.8,80.1 59.7,35 43.3,62.4 '/>
          <polygon points='127.6,61.4 127.6,61.4 110.3,13.5 110.3,13.5 70.3,48.1 70.3,48.1 88.3,80.5 95.3,81.4 95.3,81.4 '/>
          </svg>
          <h1 class='logo__name text-centered'>'El dorado': catalog of minerals 2.0 </h1>
        </a>
        <p class='logo__text text-centered'>They're not rocks ! by Aaron Millan-Oropeza</p>
      </div>
    <!-- Search bar  -->
      <div class='grid-100'>
        <p>
        <form method='GET' action={% url 'mineral_search' %}>
          <div class='menu'>
            <strong>SEARCH FOR A MINERAL OR ATTRIBUTE </strong>
            <input type='search' name='query'>
            <input type='submit' class='button' value='SEARCH'>
          </div>
        </form>
        </p>
      </div>
    <!-- Search by color -->
      <div class='grid-100'>
        <p class='h2'><strong>COLOR OF MINERAL:</strong>
        {% for current_color in colors %}
          {% if current_color == color %}
            <a class='mineral__color_bold' href={% url 'color_search' color=current_color %}>{{ current_color }}</a>
          {% else %}
            {% if current_color == 'Red' %}
              <a class='mineral__color_red' href={% url 'color_search' color=current_color %}>{{ current_color }}</a>
            {% elif current_color == 'Orange' %}
              <a class='mineral__color_orange' href={% url 'color_search' color=current_color %}>{{ current_color }}</a>
            {% elif current_color == 'Yellow' %}
              <a class='mineral__color_yellow' href={% url 'color_search' color=current_color %}>{{ current_color }}</a>
            {% elif current_color == 'Green' %}
              <a class='mineral__color_green' href={% url 'color_search' color=current_color %}>{{ current_color }}</a>
            {% elif current_color == 'Blue' %}
              <a class='mineral__color_blue' href={% url 'color_search' color=current_color %}>{{ current_color }}</a>
            {% elif current_color == 'Pink' %}
              <a class='mineral__color_pink' href={% url 'color_search' color=current_color %}>{{ current_color }}</a>
            {% elif current_color == 'Purple' %}
              <a class='mineral__color_purple' href={% url 'color_search' color=current_color %}>{{ current_color }}</a>
            {% elif current_color == 'White' %}
              <a class='mineral__color_white' href={% url 'color_search' color=current_color %}>{{ current_color }}</a>
            {% elif current_color == 'Black' %}
              <a class='mineral__color_black' href={% url 'color_search' color=current_color %}>{{ current_color }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
        </p>
      </div>
    <!-- GROUP SEARCH  -->
      <div class='grid-30'>
        <ul>
          {% for item in groups %}
            {% if item == group %}
              <a class="mineral_group_bold" href={% url "group_search" group=item %}>{{ item }}</a>
            {% else %}
              <a class="mineral_group" href={% url "group_search" group=item %}>{{ item }}</a>
            {% endif %}
        {% endfor %}
      </ul>
      </div>
    <!-- MINERALS' LIST  -->
      <div class='grid-70'>
          {% block content %} {% endblock %}
      </div>
    </div>
    <!-- RANDOM MINERAL BUTTON  -->
    <div class='minerals__random'>
      <a class='minerals__anchor' href={% url 'mineral_details' rand_min.pk %}>Show random mineral</a>
      <br><br>
    <!-- ALPHABET SEARCH  -->
      {% for initial in 'ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
        {% if initial == letter %}
          <a class='mineral_letter_bold' href={% url "letter_search" letter=initial %}>{{ initial }}</a>
        {% else %}
          <a class='mineral_letter' href={% url "letter_search" letter=initial %}>{{ initial }}</a>
        {% endif %}
      {% endfor %}
    </div>
  </body>
  <br><br><br><br>
</html>
