
h1 { font-size: 2.2em; }
h1:hover { margin-bottom: 2rem; font-weight: bold; sans-serif; color: #ee4035; }
td { font-size: 1.2em; font-weight: bold;}

.grid-30 { background-color: #6bd2db; }
.grid-70 { background-color: #0c457d; }
.grid-100 { background-color:	#ffbe4f; }
.logo__text text-centered { font-size: 1.3em }

.minerals__anchor {background-color: #67bde2; color: darkred}
.mineral__caption { font-size: 1.2em; font-weight: bold; color: #87ceff; }
.mineral__category { color: #ce2020; font-weight: bold; }

.mineral__color_black { color: #000000; font-weight: bold; }
.mineral__color_blue { color: #004dff; font-weight: bold; }
.mineral__color_green { color: #008026; font-weight: bold; }
.mineral__color_orange { color: #b26200; font-weight: bold; }
.mineral__color_pink { color: #ff00ff; font-weight: bold;  }
.mineral__color_purple { color: #800080; font-weight: bold; }
.mineral__color_red { color: #e40303; font-weight: bold; }
.mineral__color_white { color: #ffffff; font-weight: bold;  }
.mineral__color_yellow { color: #ffed00; font-weight: bold; }
.mineral__color_bold { background-color: #ffffff; border: solid 2px #ffc100; border-radius: 10px;
  color: #005555; font-size: 13px;
  text-align: center; font-weight: bold; padding: 8px 5px 7px 5px;  }

.mineral__container { background-color: #0c457d;}
.minerals__container { background-color: #0c457d; }
.mineral_group { border: solid 2px #ffc100; border-radius: 100px;
  color: 	#101cb8; display: block; font-size: 13px; text-align:
  center; padding: 8px 0 7px 0; width: 100%;
  transition: background-color 200ms ease-in-out, font-weight 200ms ease-in-out, color 200ms ease-in-out; }
.mineral_group_bold { background-color: #ffc100; border: solid 2px #ffc100; border-radius: 100px;
  color: #003eff; display: block; font-size: 13px;
  text-align: center; font-weight: bold; padding: 8px 0 7px 0; width: 100%;
  transition: background-color 200ms ease-in-out, font-weight 200ms ease-in-out, color 200ms ease-in-out; }
.mineral_group:hover { background-color: #ffc100; color: #003eff; font-weight: bold; }
.mineral__image-bg { background-color: #0c457d; }
.mineral__image { margin-top: 10px;
                  width: 300px;
                  height:300px;
                  border-radius: 50%;
                  border: 3px solid #f37736;
}
.mineral__image:hover{ transform: scale(1.1) rotate(360deg); }
.mineral_letter { color: #2fdb91; font-size: 1em; }
.mineral_letter_bold { color: #ce2020;; font-size: 1em; font-weight: bold;}
.mineral__name { color: #87ceff; }
.mineral__table-container { background-color: #FFFFFF; }
